<%- include('partials/header') -%>
<div class="container-fluid">
    <div class="row p-4">
      <div class="col-lg-6 bg-light p-3">
        <form action="">
          <h3>Add Catagory</h3>
          <label for="">Catagory Name</label>
          <div class="imput-group mb-3">
            <input type="text" class="form-control" placeholder="name" >
          </div>
          <label for="">Catagory Image</label>
          <div class="imput-group mb-3">
            <input type="text" class="form-control" placeholder="path" >
          </div>
          <div>
            <button class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 bg-dark p-3 text-light">
        <form action="">
          <h3>Add Brand</h3>
          <label for="">Brand Name</label>
          <div class="imput-group mb-3">
            <input type="text" class="form-control" placeholder="name" >
          </div>
          <label for="">Brand Image</label>
          <div class="imput-group mb-3">
            <input type="text" class="form-control" placeholder="path" >
          </div>
          <div>
            <button class="btn btn-light ">Submit</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 bg-dark text-light p-3">
        <form action="">
          <h3>Add Item</h3>
          <label for="name">Item Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Description</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Catagory</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Brand</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Image</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item quantity</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Price</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <label for="name">Item Size</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="name">
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-light ">Submit</button>
            </div>
            <div class="col-6 float-right">
              <form action="">
                <button class="btn btn-light folat-end">View all Items</button>
              </form>
            </div>
          </div>
        </form>
      </div>
  
      <div class="col-md-6 scroll">
        <h1>Orders</h1>
        <div class="card">
          <form action="">
            <div class="card-header bg-warning text-dark">
              Order #1
              <p class="card-text float-end">Total Price: Nrs.15000</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="card-title">
                    Nath
                  </div>
                  <p class="card-text">
                    Nepal
                  </p>
                  <p class="cart-text">20/05/2023</p>
                  <p class="card-text">9840000000</p>
  
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-primary float-end">See full Order</button>
  
                </div>
              </div>
              
  
              
            </div>
          </form>
          <form action="">
            <div class="card-header bg-warning text-dark">
              Order #1
              <p class="card-text float-end">Total Price: Nrs.15000</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="card-title">
                    Nath
                  </div>
                  <p class="card-text">
                    Nepal
                  </p>
                  <p class="cart-text">20/05/2023</p>
                  <p class="card-text">9840000000</p>
  
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-primary float-end">See full Order</button>
  
                </div>
              </div>
              
  
              
            </div>
          </form>
          <form action="">
            <div class="card-header bg-warning text-dark">
              Order #1
              <p class="card-text float-end">Total Price: Nrs.15000</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="card-title">
                    Nath
                  </div>
                  <p class="card-text">
                    Nepal
                  </p>
                  <p class="cart-text">20/05/2023</p>
                  <p class="card-text">9840000000</p>
  
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-primary float-end">See full Order</button>
  
                </div>
              </div>
              
  
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>