<%- include('partials/header') -%>

<div class="text-center background-brand">
    <h1 class="pt-5">Brands</h1>
    <p class="lead pb-5">Choose your product from the brand you like</p>
    <form action="">
        <div class="input-group  mx-auto" style="max-width: 35rem;">
            <input type="text" class="Form-control" placeholder="Search for your brand" name="brandname">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary ">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row mx-auto">
    <div class="col-6 mx-auto">
        <div class="row">
            <div class="com-md-6 col-lg-4 my-2 p-1">
                <div class="card brand-card">
                    <form action="">
                        <img class="card-img" style="max-height: 5rem;" src="public/images/image1.png" alt="">
                        <div class="card-header">
                            <p class="lead">\
                                Brand name
                            </p>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="com-md-6 col-lg-4 my-2 p-1">
                <div class="card brand-card">
                    <form action="">
                        <img class="card-img" style="max-height: 5rem;" src="public/images/image2.png" alt="">
                        <div class="card-header">
                            <p class="lead">\
                                Brand name
                            </p>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="com-md-6 col-lg-4 my-2 p-1">
                <div class="card brand-card">
                    <form action="">
                        <img class="card-img" style="max-height: 5rem;" src="public/images/image3.png" alt="">
                        <div class="card-header">
                            <p class="lead">\
                                Brand name
                            </p>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="com-md-6 col-lg-4 my-2 p-1">
                <div class="card brand-card">
                    <form action="">
                        <img class="card-img" style="max-height: 5rem;" src="public/images/image4.png" alt="">
                        <div class="card-header">
                            <p class="lead">\
                                Brand name
                            </p>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="com-md-6 col-lg-4 my-2 p-1">
                <div class="card brand-card">
                    <form action="">
                        <img class="card-img" style="max-height: 5rem;" src="public/images/image5.jpg" alt="">
                        <div class="card-header">
                            <p class="lead">\
                                Brand name
                            </p>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>