<%- include('partials/header') -%>

<div class="container-fluid">
    <div class="row py-3">
     <div class="col-lg-4"></div>
          <div class="col-lg-4">
              <div class="row-py-3">
                  <div class="progress bg-secondary mb-3">
                      <div class="progress-bar ng-warning"style="width: 75%;"></div>
                      
    
                  </div>
    
              </div>
              <div class="row pb-5">
                <div class="col-3">Sign In</div>
                <div class="col-3">Shipping</div>
                <div class="col-3">Payment</div>
                <div class="col-3">Place Order</div>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-7">
        <div class="row py-3">
          <div class="col">
            <div class="card bg-light mb-3">
              <div class="card-header">
                Address: Village, Street, Building
              </div>
              <div class="card-body">
                <h5 class="caed-title">City</h5>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text"9840-000000></p>
                  </div>
                  <div class="col-6">
                    <button class="btn float-end btn-outline-primary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card bg-light mb-3">
                <div class="card-header">Payment</div>
                <div class="card-body">
                  <h5 class="card-title">Cash on Delivery</h5>
                  <p class="card-text">Free Delivery on all orders above Nrs.20000</p>
                </div>
        
        
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="card bg-light mb-3">
                <div class="card-header">
                  <p style="display: inline-block;">Your items</p>
                  <p class="float-end" style="display: inline-block;">Prices</p>
                </div>
                <div class="card-body justify-content-center">
                  <form action="">
                    <div class="row">
                      <div class="col-3">
                        <img src="../images/image1.png" style="display: inline-block; height: 5rem; width: 5rem;" alt="">
                      </div>
                      <div class="col-9">
                        <div>
                          <p style="display: inline-block;">Apple</p>
                        <p style="display: inline-block;" class="float-end">Nrs.20000</p>
  
  
                        </div>
                        <p>Quantity:<span>3</span></p>
                        
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6">
                        <button class="btn btn-danger float-right" type="submit">Remove</button>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <form action="">
                    <div class="row">
                      <div class="col-3">
                        <img src="../images/image1.png" style="display: inline-block; height: 5rem; width: 5rem;" alt="">
                      </div>
                      <div class="col-9">
                        <div>
                          <p style="display: inline-block;">Apple</p>
                        <p style="display: inline-block;" class="float-end">Nrs.20000</p>
  
  
                        </div>
                        <p>Quantity:<span>3</span></p>
                        
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6">
                        <button class="btn btn-danger float-right" type="submit">Remove</button>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <form action="">
                    <div class="row">
                      <div class="col-3">
                        <img src="../images/image1.png" style="display: inline-block; height: 5rem; width: 5rem;" alt="">
                      </div>
                      <div class="col-9">
                        <div>
                          <p style="display: inline-block;">Apple</p>
                        <p style="display: inline-block;" class="float-end">Nrs.20000</p>
  
  
                        </div>
                        <p>Quantity:<span>3</span></p>
                        
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6">
                        <button class="btn btn-danger float-right" type="submit">Remove</button>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <form action="">
                    <div class="row">
                      <div class="col-3">
                        <img src="../images/image1.png" style="display: inline-block; height: 5rem; width: 5rem;" alt="">
                      </div>
                      <div class="col-9">
                        <div>
                          <p style="display: inline-block;">Apple</p>
                        <p style="display: inline-block;" class="float-end">Nrs.20000</p>
  
  
                        </div>
                        <p>Quantity:<span>3</span></p>
                        
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6">
                        <button class="btn btn-danger float-right" type="submit">Remove</button>
                      </div>
                    </div>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  
    <div class="col-md-5">
      <div class="row py-3">
        <div class="col">
          <div class="card bg-light mb-3">
            <form action="">
              <div class="card-header text-center">
                <button style="width: 65%;" class="btn btn-warning" onClick="return confirmOrder();" type="button" name=""action>Place Order</button>
              </div>
              <div class="card-body">
                <div class="card-title">Order Summary</div>
                <div class="row">
                  <div class="col-6">Items:</div>
                  <div class="col-6">Nrs:10000</div>
                </div>
                <div class="row">
                  <div class="col-6">Delivery:</div>
                  <div class="col-6">Free</div>
                </div>
                <div class="row py-3">
                  <div class="col-6">
                    Order Total:
                  </div>
                  <div class="col-6">
                    Nrs.10000
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col">
          <div class="card bg-light mb-3">
            <div class="card-header">
              <p style="display: inline-block;">Your Purchase</p>
              <p class="float-end" style="display: inline-block;">Received</p>
            </div>
            <div class="card-body justify-content-center">
              <div class="row">
                <div>
                  <p style="display: inline-block;">Order date:20/05/2023</p>
                  <button style="display: inline-block;" class="float-end btn btn-success" >Received</button>
  
                </div>
                
              </div>
              <div class="row ms-1">
                Total is: Nrs.20000
              </div>
              <hr>
              <div class="row">
                <div>
                  <p style="display: inline-block;">Order date:20/05/2023</p>
                  <button style="display: inline-block;" class="float-end btn btn-danger" >Pending</button>
  
                </div>
                
              </div>
              <div class="row ms-1">
                Total is: Nrs.20000
              </div>
              <hr>
              <div class="row">
                <div>
                  <p style="display: inline-block;">Order date:20/05/2023</p>
                  <button style="display: inline-block;" class="float-end btn btn-success" >Received</button>
  
                </div>
                
              </div>
              <div class="row ms-1">
                Total is: Nrs.20000
              </div>
              <hr>
              <div class="row">
                <div>
                  <p style="display: inline-block;">Order date:20/05/2023</p>
                  <button style="display: inline-block;" class="float-end btn btn-success" >Received</button>
  
                </div>
                
              </div>
              <div class="row ms-1">
                Total is: Nrs.20000
              </div>
              <hr>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
    
  
    
    </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <%- include('partials/footer') -%>