<%- include('partials/header') -%>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="com-0 col-lg-1">

            </div>

            <div class="col-6 col-lg-4 align-items center ">
                <img style="max-width:300px;" src="../public/images/image1.png" alt="">
            </div>

<div class="col-lg-1">
            <div class="col-6 col-lg-4">
                <form action="">
                    <h2 class="text-inf0">Item Title</h2>
                    <p class="small">This is the latest iphone in the market.It has the fastest processor ever in mobile world. </p>
                    <p class="h5">Price: <span class="text-secondaary">Nrs.120000</span></p>
                    <p><span class="font-weight-bold">Brand:</span>Apple</p>
                    <p><span class="font-weight-bold">Catagory:</span>Iphone 12</p>
                    <br>
                    <div class="col">
                        <div class="col-2 mt-2">
                            <p class="text-secondary h6">Weight</p>
                        </div>

                        <div class="col-2" >
                            <p class="lead">400g</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input type="text" name="box" class="form-control" placeholder="Qty">
                                <div class="input-group-append">
                                    <span class="input-group-text">Pieces</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <button type="submit" data-bs-toggle="" style="display: inline-block;" class="btn btn-dark">AddToCart</button>
                    </div>
                </form>

            </div>
</div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>

